<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background: url(https://scienceworld.scholastic.com/content/dam/classroom-magazines/scienceworld/issues/2017-18/121117/computer-coder/SW-121117-Coder-Popup1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .loginbox
        {
            width: 320px;
            height: 430px;
            background:#022237;
            color: #fff;
            top: 20%;
            left: 10%;
            position: absolute;
            transform: translate(-50% -50%);
            box-sizing: border-box;
            padding: 70px 30px;
            border-radius: 50px;
            opacity: 0.9;
                
        }
        h1
        {
            margin: 0;
            padding: 0 0 20px;
            text-align: center;
            font-size: 22px;
            top: 50%;
        }
        .loginbox p
        {
            margin: 0;
            padding: 0;
            font-weight: bold;
        }
        .loginbox input
        {
            width: 100%;
            margin-bottom: 20px;
        }
        .loginbox input[type="text"], input[type="password"]
        {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 16px;
        }
        .loginbox input[type="submit"]
        {
            border: none;
            outline: none;
            height: 40px;
            background: #fb2525;
            color: #fff;
            font-size: 18px;
            border-radius: 20px;
        }
        .loginbox input[type="submit"]:hover
        {
            cursor: grabbing;
            background: #ffc107;
            color: #000;
        }
        .loginbox a
        {
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: white;
        }
        .loginbox a:hover
        {
            color: #ffc107;
        }

    
    </style>

    </head>
    <body>
    <div class="loginbox">
<!--        <img src="avatar.jpg" class="avatar">-->
        <kbd>
        <h1>Login</h1>
        <form name="myform" method="post" action="/loginsubmit">
        <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" name="submit" value="Login"><br>
            <a href="/signup">Don't have an account?</a>
        </form>
        </kbd>
        </div>
    </body>
</html>